@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

html {
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --body-color: #cee8cc;
    --text-color: white;
    --navnar-color: #a0c09e;
    --primary-color: #bfdcba;
    --primary-color1: #89ae86;
    --primary-color2: #72986f;
    --navbar-height: 84px;

    --tran-02: all 0.2s ease;
}

body {
    background-color: var(--body-color);
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    flex-direction: column;
}

/*--Navigation bar--*/
header {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-bar {
    width: 100%;
    background-color: var(--navnar-color);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu-links {
    display: flex;
}

.nav-bar li {
    width: 120px;
    height: 84px;
    list-style: none;
    display: flex;
    text-align: center;
}

.nav-bar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: 500;
    font-size: 18px;
    transition: var(--tran-02);
}

.nav-bar li a:hover {
    color: var(--navbar-color);
}

.nav-bar .logo {
    height: 84px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-bar .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .image img {
    font-size: 50px;
}

.nav-bar .toggle {
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    margin-right: 30px;
    opacity: 0;
}

.toggle i {
    align-self: center;
    justify-content: center;
    font-size: 30px;
}

/*--Main content--*/
main {
    margin-top: 84px;
    width: 100%;

}

.homepage {
    width: 100%;

}

.homepage .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage .column {
    width: 50%;
    padding: 20px;
}

.homepage .column.left {
    float: left;
}

.homepage .column .right {
    display: flex;
    float: right;
    justify-content: center;

}

.homepage .column.right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.homepage .header .vertical-line {
    border: 1px solid var(--primary-color1);
    opacity: 0.2;
    height: 200px;
    width: 1px;
    display: flex;
    margin: 20px;
}

.member-introduction {
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

}

.teamImage img {
    display: flexbox;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.teamImage ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 20px;
}

.teamImage ul li {
    display: flexbox;
    list-style: none;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.teamImage ul li .text {
    display: flex;
    justify-content: center;
}

.bottom-contents {
    margin: 30px;
}

/*--Footer--*/
footer {
    width: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    padding-top: 10px;
    align-items: center;
}

.footerContainer {
    width: 100%;
    bottom: 0;
    background-color: var(--navnar-color);
    justify-content: space-between;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(137, 174, 134, 0.5);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a.facebook-icon:hover {
    background-color: #1877F2;
    transition: var(--tran-02);
}

.socialIcons a.instagram-icon:hover {
    background-color: #D62976;
    transition: var(--tran-02);
}

.socialIcons a.gmail-icon:hover {
    background-color: whitesmoke;
    transition: var(--tran-02);
}

.socialIcons a.youtube-icon:hover {
    background-color: #FF0000;
    transition: var(--tran-02);
}

.socialIcons a:hover i {
    color: white;
    transition: var(--tran-02);
}

.socialIcons a.gmail-icon:hover i {
    color: #c71610;
}

.footerNav {

    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: var(--text-color);
    margin: 20px;
    text-decoration: 0;
    font-size: 1.0em;
    opacity: 0.7;
    transition: var(--tran-02);
}

.footerNav ul li a:hover {
    color: var(--navbar-color);
    transition: var(--tran-02);
}

.footerBottom {
    opacity: 0.7;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color1);
    padding: 10px;
}



/*=============================================*/
@media (max-width:700px) {

    /*=====NAVIGATION BAR=====*/
    body {
        min-width: fit-content;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--navbar-height);
        background-color: var(--navnar-color);
    }

    .nav-bar {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 100px;
    }

    .menu {
        display: flex;
        margin: auto;
        margin-top: 90px;
        width: 80%;
        background-color: var(--navnar-color);
        justify-content: center;
        align-items: center;
        border: 2px;
        border-radius: 15px;
        transition: nav(--tran-02);

    }

    .menu .menu-links {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 1;
        margin-top: 10px;
    }

    .menu.close .menu-links {
        opacity: 0;
    }

    .menu-links li {
        width: 100%;
    }

    .menu-links li:hover {
        background: var(--primary-color1);
        transition: var(--tran-02);
    }

    .menu.close {

        opacity: 0;
        width: 0;
        height: 0;
    }

    .nav-bar .toggle {
        display: flex;
        position: absolute;
        justify-content: center;
        right: 5px;
        opacity: 1;
    }

    .nav-bar .logo {
        position: absolute;
    }

    /*===========MAIN CONTENT===========*/
    main {}

    .homepage {
        width: 100%;
    }

    .homepage .header {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .homepage .column {
        padding: 20px;
        display: inline-block;
        width: 100%;
    }

    .homepage .column .left {
        display: inline-block;
    }

    .homepage .column .right {
        display: inline-block;
    }

    .homepage .header .vertical-line {
        border: 1px solid var(--primary-color1);
        opacity: 0.2;
        height: 1px;
        width: 100%;
        display: inline-block;
        margin: 20px;
    }


    /*======INTRODUCTION ======*/
    .member-introduction {
        background-color: var(--primary-color);
        margin-top: auto;
    }

    .teamImage img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .teamImage ul {
        display: inline-block;
        list-style: none;
        justify-content: center;
    }

    .teamImage ul li {
        width: 100%;
        align-items: center;
        text-align: left;
    }

    .teamImage ul li .text {
        display: inline-block;
        margin-inline-start: 30px;
        justify-content: center;

    }

    .bottom-contents {
        margin: auto;
    }


    footer {
        bottom: 0;
        left: 0;
        right: 0;
    }

    .footerContainer {
        width: 100%;
        bottom: 0;
        background-color: var(--navnar-color);
        justify-content: space-between;
        position: relative
    }

    .socialIcons {
        display: inline-flexbox;
        justify-content: center;
    }

    .socialIcons a {
        text-decoration: none;
        padding: 10px;
        background-color: rgb(137, 174, 134, 0.5);
        margin: 10px;
        border-radius: 50%;
    }

    .socialIcons a i {
        font-size: 1.5em;
        color: black;
        opacity: 0.9;
    }


    .footerNav {

        margin: 30px 0;
    }

    .footerNav ul {
        display: inline-flexbox;
        justify-content: center;
    }

    .footerNav ul li a {
        color: var(--text-color);
        margin: 20px;
        text-decoration: 0;
        font-size: 1.0em;
        opacity: 0.7;
        transition: var(--tran-02);
    }



    .footerBottom {
        opacity: 0.7;
        display: inline-flexbox;
        justify-content: center;
        background-color: var(--primary-color1);
        padding: 10px;
    }

}