* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    /* === Colors ==*/
    --body-color: #4958a1;
    --navbar-color: rgb(37, 37, 37);
    --primary-color: rgb(37, 37, 37);
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #ffffff;
    /*=== Transition==*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--body-color);
    background-color: var(--toggle-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    border: 10px solid var(--body-color);
    border-radius: 10px;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 10px solid var(--primary-color);
    display: flex;
}